<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.DB_PruebaTecnicaConnectionString"
            connectionString="Data Source=SERVIDOR;Initial Catalog=DB_PruebaTecnica;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>